Localization
{
	ru
	{
		// Plugin
		
		#CAE_meter = м
		#CAE_kilo = к
		#CAE_mega = М
		#CAE_giga = Г
		#CAE_tera = Т

		#CAE_kilo_spaced = к 
		#CAE_mega_spaced = М
		#CAE_giga_spaced = Г
		#CAE_tera_spaced = T

		#CAE_Title_vs = Макс. расстояние от:\n

		#CAE_DSN_LN   = \u0020Центр Сл.<<1>>:
		#CAE_Built_In = \u0020Встроенная:

		#CAE_Not_Combinable = <color=orange>Антенна не комбинируема</color>\n\n
		#CAE_Combinability_Exponent = <b>Эксп. комбинируемости</b>: <<1>>\n\n      
		
		#CAE_Type   = <b>Тип:</b> <<1>>
		#CAE_Rating = <b>Рейтинг:</b> <<1>>
		#CAE_DSN_Short  = \nот ЦС:
		
		#CAE_Spaces = \u0020\u0020\u0020
		#CAE_Orange = <color=orange><<1>></color>
		
		#CAE_Consumption = \n<b>- Потребление: <<1>> ЭЭ/Мит</b>

		// PAW

		#CAE_F_Type                    = Тип антенны
		#CAE_F_Combinability_Exponent  = Эксп. комбинируемости
		#CAE_F_Combinability           = Комбинируемость
		#CAE_F_Rating_Short            = р
		#CAE_F_Combinab_Exponent_Short = э
		#CAE_PAW_Consumption             = Потребление
		#CAE_PAW_EC_Mit                  = <<1>> ЭЭ/Мит

	}
}
